chroot.files
chroot.packages.*
gulliver*.contents
gulliver*.iso
gulliver*.files
gulliver*.zsync
gulliver*.packages

.build/
config/binary
config/bootstrap
config/build
config/chroot
config/common
chroot.*
binary/
cache/
chroot/
